:root {
    --primary: rgb(0, 128, 0);
    --darkprimary: rgb(0, 88, 0);
    --white: rgb(255, 255, 255);
    --lightgray:rgb(211, 211, 211);
    --gray:rgb(128, 128, 128);
  }
*{
    margin: 0;
    padding: 0;
    font-family: verdana, sans-serif;
}
.form-submit{
    width: 70vw;
}
.tabs__items{
    width: 70vw;
    background-color: var(--primary);
    list-style: none;
    display: flex;
}
a{
    font-style: none;
    text-decoration: none;
    color: var(--white);
}
fieldset {
    padding: 3em;
    padding-left: 7vw;
    padding-right: 7vw;
    margin: 2em;
    border-radius: 1em;
}