.containerTableUnidades{
    font-size: small;
    width: 100%;
    box-sizing: initial!important;
}
.contentBlock{
    margin-top: 6vh;
    height: 94vh;
    width: 88vw;
    margin-left: 16vw;
}
.centered {
    text-align: center !important;
    vertical-align: middle !important;
}