{% extends 'menu.html' %}
{% load static %}
{% block content%}

<link rel="stylesheet" type="text/css" href="{%static 'css/leerleads.css'%}">

<div class="header-C">

    <h2>Leads</h2>
    <a href="{% url 'createleads' %}" class="btnCreateLead">Crear Cliente</a>

</div>

<div class="containerTableLeads container my-4" id="app">
    <div class="row">  
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <table class="table" id="dataTable_Leads">
                <thead>
                    <tr>
                        <th class="centered">Código</th>
                        <th class="centered">#</th>
                        <th class="centered">Nombre Completo</th>
                        <th class="centered">Fecha Contacto</th>
                        <th class="centered">Tipo de Contacto</th>
                        <th class="centered">Residencia</th>
                        <th class="centered">Supervisor</th>
                        <th class="centered">Asesor</th>
                        <th class="centered">Proyecto</th>
                        <th class="centered">Fecha Acción</th>
                        <th class="centered">Acción</th>
                        <th class="centered">Información Detallada</th>
                    </tr>
                </thead>
                <tbody id="tBody_Leads">
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="module" src="{%static 'scripts/leerLeads.js'%}"></script>
{% endblock %}