{% extends 'menu.html' %}
{% load static %}
{% block content%}

<a href="{% url 'createleads' %}" style="background:green!important;color:white!important;padding:4vh;border-radius:1vh;"> Crear Cliente</a>

<!--
<link rel="stylesheet" type="text/css" href="{%static 'css/unidades.css'%}">
<div class="containerTableUnidades container my-4" id="app">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <table class="table" id="dataTable_Unidades">
                <thead>
                    <tr>
                        <th class="centered">#</th>
                        <th class="centered">Código</th>
                        <th class="centered">Nombre Completo</th>
                        <th class="centered">Teléfono</th>
                        <th class="centered">Género</th>
                        <th class="centered">Edad</th>
                        <th class="centered">Ocupación</th>
                        <th class="centered">Fecha Contacto</th>
                        <th class="centered">Hora Contacto</th>
                        <th class="centered">Tipo de Contacto</th>
                        <th class="centered">Lugar de Residencia</th>
                        <th class="centered">Estado Prospecto</th>
                        <th class="centered">Supervisor</th>
                        <th class="centered">Asesor</th>
                        <th class="centered">Comentarios</th>
                        <th class="centered">Proyecto</th>
                        <th class="centered">Próxima Acción</th>
                        <th class="centered">Acción</th>
                    </tr>
                </thead>
                <tbody id="tBody_Unidades">
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="{%static 'scripts/unidades.js'%}"></script>-->
{% endblock %}